/*********************************************/
/*              GENERAL CSS                  "/
/*********************************************/
/*********************************************/
/*              VARIABLES                    "/
/*********************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 1320px;
  margin: 0px auto;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

a:hover {
  color: #de1028;
}

h3 {
  font-size: 35px;
}

h1 {
  font-size: 60px;
}

.text-center {
  text-align: center;
}

section {
  padding: 60px;
}

span {
  font-size: 12px;
  font-style: italic;
}

/*********************************************/
/*              NAVIGATION                   "/
/*********************************************/
/*********************************************/
/*              VARIABLES                    "/
/*********************************************/
header {
  background-color: #131313;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;
  max-width: 1130px;
  margin: 0px auto;
  padding: 16px 0px 12px;
}
.navbar .navbar__logo {
  background-image: url("../images/logo.png");
  width: 100px;
  height: 43px;
  margin-bottom: 10px;
}
.navbar .navbar__navbar-links {
  height: 100%;
}
.navbar .navbar__navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar .navbar__navbar-links li {
  list-style: none;
}
.navbar .navbar__navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-weight: 500;
}
.navbar .navbar__navbar-links li a:hover {
  color: #de1028;
}

.navbar__toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.navbar__toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar .navbar__navbar-links {
    display: none;
    width: 100%;
  }
  .navbar .navbar__navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar .navbar__navbar-links ul li {
    text-align: left;
  }
  .navbar .navbar__navbar-links ul li:hover {
    background-color: #c00b20;
  }
  .navbar .navbar__navbar-links ul li a,
.navbar .navbar__logo {
    padding: 0.5rem 1rem;
  }
  .navbar .navbar__navbar-links ul li a:hover,
.navbar .navbar__logo:hover {
    color: white;
  }
  .navbar .navbar__navbar-links.active {
    display: flex;
  }

  .navbar__toggle-button {
    display: flex;
    margin-top: 16px;
  }
}
#btnScrollToTop {
  position: fixed;
  right: 15px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #de1028;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #fff;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

#btnScrollToTop:hover {
  background: #c00b20;
  cursor: pointer;
}

#btnScrollToTop.active {
  visibility: visible;
  opacity: 1;
}

/*********************************************/
/*                 SLIDER                    "/
/*********************************************/
/*********************************************/
/*              VARIABLES                    "/
/*********************************************/
.swiper-container {
  width: 100%;
  height: 700px;
}
.swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}
.swiper-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-filter: brightness(30%);
  filter: brightness(30%);
}
.swiper-container .slide-text {
  position: absolute;
}
.swiper-container .slide-text h2 {
  color: white;
  font-size: 60px;
  margin: 0px;
  background: linear-gradient(to right, #de1028 0%, #ff4b60 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.swiper-container .slide-text p {
  color: white;
  font-size: 17px;
  letter-spacing: 2px;
  line-height: 32px;
}
.swiper-container .slide-text a {
  text-decoration: none;
  display: inline-block;
}
.swiper-container .slide-text .btn-slider {
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 15px;
  border: 2px solid #de1028;
  padding: 10px 15px;
}
.swiper-container .slide-text .btn-slider:hover {
  color: white;
  background: #ed213a;
  background: -webkit-linear-gradient(to right, #93291e, #ed213a);
  background: linear-gradient(to right, #93291e, #ed213a);
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

/*********************************************/
/*                SECTIONS                   "/
/*********************************************/
/*********************************************/
/*              VARIABLES                    "/
/*********************************************/
#companies h4 {
  text-transform: uppercase;
  font-weight: bold;
  color: #131313;
  margin: 60px 0px 20px;
  letter-spacing: 3px;
}
#companies .client-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#companies .companies__company-image {
  height: 70px;
  filter: grayscale(1);
  margin: 30px;
}

@media screen and (min-width: 360px) and (max-width: 760px) {
  .client-logo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#clients {
  padding: 50px 0px;
}
#clients h3 {
  text-align: center;
}
#clients p {
  text-align: center;
  margin: 10px 0px 30px;
}
#clients img {
  width: 100%;
}
#clients .clients__numbers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
#clients .clients__numbers .clients__numbers__status-item h1 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 0px !important;
  color: #de1028;
}
#clients .clients__numbers .clients__numbers__status-item p {
  color: #0a0808;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: -15px !important;
}

@media screen and (min-width: 360px) and (max-width: 760px) {
  .clients__numbers {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #clients h1,
#clients p {
    padding: 0px 20px;
  }
}
#testimonials {
  background-color: #f9f8fc;
}
#testimonials .testimonials__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
#testimonials .testimonials__box .testimonials__box__item {
  padding: 3rem 2.2rem 2.2rem 2.2rem;
  border-radius: 5px;
  position: relative;
  background: white;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px;
}
#testimonials .testimonials__box .testimonials__box__item .testimonials__box__text {
  font-size: 15px;
  opacity: 0.9;
  line-height: 1.7;
  flex-grow: 1;
  padding-bottom: 1.5rem;
}
#testimonials .testimonials__box .testimonials__box__item .testimonials__box__quote-symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #de1028;
  color: white;
  font-size: 1.3rem;
  border-radius: 10rem;
  position: absolute;
  top: -25px;
  left: 45%;
}
#testimonials .testimonials__box .testimonials__box__blk_person .testimonials__blk_person__avatar {
  width: 56px;
  height: 56px;
  border-radius: 10rem;
  margin: 0px auto;
  display: block;
}
#testimonials .testimonials__box .testimonials__box__blk_person .testimonials__blk_person__name {
  margin: 8px auto;
  font-size: 17px;
}

footer {
  padding: 30px;
  background-color: #131313;
}
footer p {
  font-size: 14px;
  color: white;
}

@media screen and (min-width: 360px) and (max-width: 760px) {
  .testimonials__box {
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
