/*********************************************/
/*              VARIABLES                    "/
/*********************************************/
$primaryColor: #de1028;
$secondaryColor: #c00b20;
$tertiaryColor: #f9f8fc;
$bodyColor: white;
$hfColor: #131313;
$textColor: #212529;
$subText: #0a0808;
